<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <appender name="Log4NetAppender" type="log4net.Appender.FileAppender">
      <file value="logalot.log" />
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} %level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="Log4NetAppender" />
    </root>
  </log4net>
</configuration>